<form class="form artist-search-form">
    <div class="form-group">
        <label for="artist-search">Search Artist: </label>
        <input class="form-input" type="text" id="artist-search" name="artist-search" />
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="searchBtn">Search</button>

        {{!-- <button type="button" class="btn btn-primary" id="saveBtn">Save This Search</button> --}}
    </div>
</form>

<div class="searchedArtist">
    <h3>

        {{artist}}
    </h3>
    <br>
    <p>
        Genre: {{genre}}

    </p>
    <div class="image">

        <img src="{{img.url}}" alt="picture of {{artist}}" width="300px" height="300px">

        <div>
            <h3>
                Top Songs
            </h3>
            {{#each songs}}

            <p>

                <a href="{{external_urls.spotify}}" target="_blank">{{name}}</a>


            </p>

            {{/each}}

        </div>
    </div>


</div>

<script src="/js/home.js"></script>
<script src="/js/saveSearch.js"></script>